body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemListHome{
	
}

.selectSearch{
	position: relative;
	margin-left: 1%;
}

.img-avatar{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin: 0 auto;
	background-image: url("https://www.w3schools.com/howto/img_avatar.png");
	background-size: 50px;
	margin-top: 10px;
}

.lista{
	border: #2c3e50 solid 2px;
}

.listaFreelancer{
	width: 100%;
}

.font-local{
	font-size: 11px;
}

.containerResult{
	padding: 10px;
	width: 100px;
}

.navBar-color{
	background-color: black;
}


.filtro{
	background-color: #afe0ec2d;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
}

.menu-animate{
	transform: scale(1);
	transition-duration: 0.5s;
}

.menu-animate:hover{
	transform: scale(1.2);
}

.titleFreelancer{
	font-size: 14px;
}

.profissaoFreelancer{
	font-size: 12px;
}

.filtroFreelancerResult{
	margin-top: 2%;
	width: 40%;
	border-radius: 20px;
	margin-left: 10%;
}

.infoPerfil{
	float: left;
}

.perfil{
	background-color: black;
	margin-top: 2%;
}
.img-avatar-perfil{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 0 auto;
	background-image: url("https://www.w3schools.com/howto/img_avatar.png");
	background-size: 200px;
	margin-top: 10px;
}

.infoDados{
	width: 320px;
	height: 500px;
}

.infoProjetos{
	width: 900px;
	height: 500px;
}

.cardDados{
	border: red solid 2px;
}

.bannerHome{
	background-color: #2ecc71;
}

.btn-icon-home{
	border-radius: 20px;
	background-color: red;
	background-color: #ecf0f1;
	margin: 20px auto;
	padding: 10px;
	border-radius: 40px;
	color: #2c3e50;
	font-weight: bold;
	width: 100%;
	height: 120px;
}

.listHome{
	margin: 0px auto;
	background-color: transparent;
	width: 50%;
}

.selectableImage{
	width: 20%;
	margin: 0 auto;
}

.cor{
	background-color: red;
}

.cor2{
	background-color: black;
}